NEXT_PUBLIC_APP_ID="app_4c947ff38fa7529640b8067611626187"
DEV_PORTAL_API_KEY="api_a2V5X2ZmMzhhN2E3YmYzNzA1MjQ5Y2QyYWE1NzUyZWE3ZjlmOnNrXzA3ZDdiNDhiZjhjZmQxMjAxOTgyZjI5M2RlNWJmOTQyMDJkNTY4YjFjMzIwNjI3OA"
WLD_CLIENT_ID=
WLD_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000

DATABASE_URL="file:./dev.db"