NEXT_PUBLIC_APP_ID="app_3bbc8c66e83d9695a05370d0639512c6"
DEV_PORTAL_API_KEY="api_a2V5X2ZmMzhhN2E3YmYzNzA1MjQ5Y2QyYWE1NzUyZWE3ZjlmOnNrXzA3ZDdiNDhiZjhjZmQxMjAxOTgyZjI5M2RlNWJmOTQyMDJkNTY4YjFjMzIwNjI3OA"
WLD_CLIENT_ID=
WLD_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_PAYFAST_URL=http://localhost:3000

#https://world.org/mini-app?app_id=app_3bbc8c66e83d9695a05370d0639512c6&path=&draft_id=meta_e34a094ddc5d89dc5e20147e33d6d6ad
#payfast
#Acciones de incógnito QR=https://worldcoin.org/verify?t=wld&i=f0ea4f05-6082-48a5-8a4a-f6a0a1964e60&k=Nzp2J1nX969sQU%2Bd%2BToTrteIhxmJ4DmmUvfG74Hd0mY%3D
#DATABASE_URL="file:./dev.db"